<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <script src="lib-min/all.min.js"></script>
    <!--<script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-sanitize.min.js"></script>-->
</head>
<body>
    <div class="container">
        <header class="page-header">
            <h1>Welcome to the template</h1>
        </header>
        <article>
            <h2>This is how we do things</h2>
            <p>We are now embarking on a new era of development. It is time for all good developers to use the new tools.</p>
            <p>We will be using {{'angular ' + (1 + 0.4) + ' version'}}</p>
        </article>
        <div ng-view></div>
    </div>
</body>
</html>